@page
@model HospitalManagementSystem.Pages.Navnar_Pages.IndexModel
@{

}
@{
    Layout = "_NavbarPagesLayout";
}

<div>
        <span class="header">Our distinguised doctors</span>
        <br/>
</div>
<div class="our_distinguised_doctors">
    <span class="form-header">Dr. Name1</span>
    <div class="form-rows">
        <div class="form-row">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
    <span class="form-header">Dr. Name2</span>
    <div class="form-rows">
        <div class="form-row">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
    <span class="form-header">Dr. Name3</span>
    <div class="form-rows">
        <div class="form-row">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
</div>