@page
@model HospitalManagementSystem.Pages.Patient_Pages.IndexModel
@{

}
@{
    Layout = "_NavbarPagesLayout";
}

<div class="Service1">
    <span class="form-header">Service 1</span>
    <div class="form-rows">
        <div class="form-row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
</div>

<div class="Service2">
    <span class="form-header">Service 1</span>
    <div class="form-rows">
        <div class="form-row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
</div>

<div class="Service3">
    <span class="form-header">Service 1</span>
    <div class="form-rows">
        <div class="form-row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed lacus id mauris imperdiet iaculis</p>
        </div>
    </div>
</div>